html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
form#ui {
  text-align: center;
  display: none;
}
select#begin,
select#end {
  font-size: 24pt;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 40%;
}
input#output {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18pt;
  text-align: center;
  width: 90%;
}
body {
  font-size: 20pt;
}